.custom-radio {
    -fx-cursor: hand;
}
.custom-radio:hover {
    -fx-cursor: hand;
}

.custom-radio > .radio {
    -fx-background-color: white;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1;
    -fx-border-radius: 50%;
    -fx-padding: 4;
}

.custom-radio:selected > .radio {
    -fx-background-color: white;
    -fx-border-color: #C0C0C0;
}

.custom-radio > .radio > .dot {
    -fx-background-color: transparent;
}

.custom-radio:selected > .radio > .dot {
    -fx-background-color: #7A1EFF;
}

